#provide{
    background-color: purple;
    text-align: center;
}
.big{
    background-color: aqua;
    border: 2px solid black;  /* Border around text */
            display: inline-block;   /* Keeps it around the text only */
            padding: 5px;
}
.hello{
    font-size: medium;
}
.my-custom-row{
    background-color: bisque;
    height: 400px;
}
