#provide{
    background-color: purple;
    text-align: center;
}
.custom-google-font{
    font-family:'Roboto',sans-serif;
}
.hello{
    font-size: medium;
}
.my-custom-row{
    background-color: aliceblue;
    height: 400px;
}
.form-check-input:checked {
    background-color: #28a745; /* Green */
    border-color: #28a745; /* Green border */
}
.form-check-input {
    border:none; /* Light grey border */
}
.img{
    background:none;
}
.hama{
    
}